<div class="row text-center">
	<div class="col-md-6 col-md-offset-3">
		<h2 class="text-center"><%= link_to "Back", :back, class: "btn btn-default btn-sm pull-left" %>Edit <%= resource_name.to_s.humanize %></h2>
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
		  <%= devise_error_messages! %>

			<div class="field form-group">
				<%= f.label :name, class: "sr-only" %><br />
				<%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Enter a name" %>
			</div>

		  <div class="field form-group">
		    <%= f.label :email, class: "sr-only" %>
		    <%= f.email_field :email, class: "form-control", placeholder: "Enter your email" %>
		  </div>

		  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
		    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
		  <% end %>

		  <div class="field form-group">
		    <%= f.label :password, class: "sr-only" %>
		    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter new password - Leave blank if you don't want to change it" %>
		  </div>

		  <div class="field form-group">
		    <%= f.label :password_confirmation, class: "sr-only" %>
		    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm new password" %>
		  </div>

		  <div class="field form-group text-center">
				<a class="text-center text-muted">Confirm your changes</a><br />
		    <%= f.label :current_password, class: "sr-only" %>
		    <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Enter your current password" %>
		  </div>

		  <div class="actions form-group text-center">
		    <%= f.submit "Save Changes", class: "btn btn-primary" %>
		  </div>
		<% end %>

		<br />
		<h4 class="text-center">Unhappy? - Cancel my account</h4>
		<br />
		<div class="text-center btn-group">
			<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure you want to delete your account? All of your liked bookmarks will be lost" }, method: :delete, class: "btn btn-danger text-center" %>
		</div>
	</div>
</div>
